body{
    margin: 0;
    font-family: "source-sans-pro", Helvetica, sans-serif;
}

#intro{

}

#intro{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background-color: #1a2239;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

#introTextContainer{
    font-family: "source-sans-pro";
    margin: 0 auto;
    width: 300px;
    line-height: 1.3;
    padding-top: 250px;
}

#introTextContainer h2{
    padding-bottom: 10px;
    font-size: 1.4em;
}

#introTextContainer p{
    padding-bottom: 10px;
    font-size: 1.2em;
}

#scrollButton{
    padding-top: 250px;
    display: block;
    margin: 0px auto;
    width: 20px;
    background-color: transparent;
    border: none;
}

#scrollButton img{
    width: 30px;
}

#scrollButton:hover img{
    background-image: url('../img/misc/arrow-down-fill.png');
    background-size: 30px;
    cursor: pointer;
}​

#scrollButton:hover,
#scrollButton:active,
#scrollButton:focus{
    outline: none;
}

#clickPreventionOverlay{
    width: 100%;
    min-height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

#victimsDiv{
    height: 0px;
    display: none;
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 20;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

#victimsList{
    width: 40%;
    height: 100%;
    display: inline;
    float: left;
}

#victimsList h3{

}

#victimsList ul{
    float: right;
}


#victimDetails{
    width: 40%;
    min-height: 100%;
    display: inline;
    margin-left: 30px;
    float: left;
    position: relative;
}

#victimDetails img{
    min-height: 100%;
    width: 200px;
    float: left;
    margin-right: 20px;
    padding: 5px;
}

#victimDetails h3{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
}
#victimDetails h4{
    padding: 5px;
}

#victimDetails p{
    padding: 5px;
}

.victim:hover{
    cursor: pointer;
    color: gray;
}

.victim{
    padding: 6px;
}

#mapContainer{    
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    background-color: #1a2239;
    color: white;
}

#mapFilter{
    position: absolute;
    top: 50px;
    left: 0;
    margin: 0 auto;
    width: 300px;
    float:left;
}

/* age slider customization */
.ui-rangeSlider .ui-rangeSlider-innerBar{
    height: 3px !important;
}
.ui-rangeSlider .ui-rangeSlider-bar{
    height: 1px !important;
}
.ui-rangeSlider .ui-rangeSlider-handle{
    height: 12px !important;
    width: 12px !important;
    border-radius: 50%;
    background-color: white !important;
    border: 2px solid #1a2239;
    box-sizing: border-box !important;
    margin-top: -1px;
}

.ui-rangeSlider .ui-rangeSlider-handle:hover, .ui-rangeSlider-label-value:hover, .ui-rangeSlider-label:hover{
    cursor: pointer;
}

.ui-rangeSlider-label{
    display: none !important;
}

#ageSliderText{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.checkboxLabel:hover{
    cursor: pointer;
}

#infoText{
    position: absolute;
    top: 650px;
    left: 650px;
    width: 300px;
}

#mapNorway{
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    background-color: #1a2239;
}

#mapNorway img{
    position: absolute;
    opacity: 0;
}
#imgFinnmark{
    top: 20px;
    left: 600px;
}
#imgTroms{ 
    top: 79px;
    left: 493px;
}
#imgNordland{
    top: 154px;
    left: 413px;
}
#imgNord-Trondelag{
    top: 360px;
    left: 370px;
}
#imgSor-Trondelag{
    top: 397px;
    left: 325px;
}
#imgMore-Og-Romsdal{
    top: 441px;
    left: 248px;
}
#imgHedmark{
    top: 488px;
    left: 351px;
}
#imgOppland{
    top: 500px;
    left: 295px;
}
#imgSogn-Og-Fjordane{
    top: 499px;
    left: 221px;
}
#imgHordaland{
    top: 565px;
    left: 220px;
}
#imgAkershus{
    top: 600px;
    left: 365px;
}
#imgOstfold{
    top: 643px;
    left: 365px;
}
#imgBuskerud{
    top: 567px;
    left: 287px;
}
#imgRogaland{
    top: 628px;
    left: 219px;
}
#imgVest-Agder{
    top: 663px;
    left: 246px;
}
#imgAust-Agder{
    top: 637px;
    left: 265px;
}
#imgTelemark{
    top: 615px;
    left: 276px;
}
#imgVestfold{
    top: 646px;
    left: 342px;
}
#imgOslo{
    top: 623px;
    left: 364px;
}

.marker{
    border-radius: 50%;
    background-color: white;
    display: inline;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 99;
    opacity: 0.7;
}

.marker:hover{
    cursor: pointer;
}

#akershusMarker{
    top: 60px;
    left: 76px;
}
#aust-agderMarker{
    top: 90px;
    left: 390px;
}
#buskerudMarker{
    top: 290px;
    left: 7px;
}
#finnmarkMarker{
    top: 610px;;
    left: 350px;
}
#hedmarkMarker{
    top: 250px;
    left: 190px;
}
#hordalandMarker{
    top: 100px;
    left: 260px;
}
#more-og-romsdalMarker{
    top: 90px;
    left: 180px;
}
#nord-trondelagMarker{
    top: 40px;
    left: 10px;
}
#nordlandMarker{
    top: 670px;
    left: 68px;
}
#opplandMarker{
    top: 240px;
    left: 130px;
}
#osloMarker{
    top: 122px;
    left: 162px;
}
#ostfoldMarker{
    top: 354px;
    left: 173px;
}
#rogalandMarker{
    top: 280px;
    left: 332px;
}
#sogn-og-fjordaneMarker{
    top: 630px;
    left: 160px;
}
#sor-trondelagMarker{
    top: 165px;
    left: 270px;
}
#telemarkMarker{
    top: 140px;
    left: 200px;
}
#tromsMarker{
    top: 650px;
    left: 50px;
}
#vest-agderMarker{
    top: 90px;
    left: 457px;
}
#vestfoldMarker{
    top: 457px;
    left: 43px;
}


/*
#akershusMarker{
    top: 620px;
    left: 376px;
}
#aust-agderMarker{
    top: 690px;
    left: 290px;
}
#buskerudMarker{
    top: 590px;
    left: 307px;
}
#finnmarkMarker{
    top: 110px;;
    left: 650px;
}
#hedmarkMarker{
    top: 550px;
    left: 390px;
}
#hordalandMarker{
    top: 600px;
    left: 260px;
}
#more-og-romsdalMarker{
    top: 490px;
    left: 280px;
}
#nord-trondelagMarker{
    top: 400px;
    left: 410px;
}
#nordlandMarker{
    top: 270px;
    left: 468px;
}
#opplandMarker{
    top: 540px;
    left: 330px;
}
#osloMarker{
    top: 622px;
    left: 362px;
}
#ostfoldMarker{
    top: 654px;
    left: 373px;
}
#rogalandMarker{
    top: 680px;
    left: 232px;
}
#sogn-og-fjordaneMarker{
    top: 530px;
    left: 260px;
}
#sor-trondelagMarker{
    top: 465px;
    left: 370px;
}
#telemarkMarker{
    top: 640px;
    left: 300px;
}
#tromsMarker{
    top: 150px;
    left: 550px;
}
#vest-agderMarker{
    top: 690px;
    left: 257px;
}
#vestfoldMarker{
    top: 657px;
    left: 343px;
}
*/


.city{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    display: inline;
}

.city:hover{
    cursor: pointer;
}

#osloCity{
    top: 126px;
    left: 667px;
}
#kirkenesCity{
    top: 575px;
    left: 245px;
}
#altaCity{
    top: 395px;
    left: 40px;
}
#hammerfestCity{
    top: 555px;
    left: 742px;
}
#tromsoCity{
    top: 613px;
    left: 365px;
}
#harstadCity{
    top: 60px;
    left: 710px;
}
#narvikCity{
    top: 490px;
    left: 220px;
}
#bodoCity{
    top: 540px;
    left: 176px;
}
#moIranaCity{
    top: 700px;
    left: 760px;
}
#namsosCity{
    top: 200px;
    left: 600px;
}
#trondheimCity{
    top: 450px;
    left: 680px;
}
#kristiansundCity{
    top: 250px;
    left: 640px;
}
#rorosCity{
    top: 182px;
    left: 596px;
}
#moldeCity{
    top: 770px;
    left: 94px;
}
#aalesundCity{
    top: 282px;
    left: 670px;
}
#stavangerCity{
    top: 70px;
    left: 530px;
}
#bergenCity{
    top: 94px;
    left: 232px;
}
#haugesundCity{
    top: 334px;
    left: 626px;
}
#kristiansandCity{
    top: 116px;
    left: 582px;
}
#tonsbergCity{
    top: 63px;
    left: 555px;
}
#arendalCity{
    top: 700px;
    left: 310px;
}
#mossCity{
    top: 358px;
    left: 166px;
}
#drammenCity{
    top: 340px;
    left: 256px;
}
#lillehammerCity{
    top: 270px;
    left: 660px;
}
#hamarCity{
    top: 290px;
    left: 180px;
}
#fredrikstadCity{
    top: 368px;
    left: 370px;
}
#bronnoysundCity{
    top: 244px;
    left: 20px;
}
#askoyCity{
    top: 185px;
    left: 625px;
}

#kautokeinoCity{
    top: 540px;
    left: 40px;
}
#karasjokCity{
    top: 100px;
    left: 180px;
}
#mehamnCity{
    top: 524px;
    left: 110px;
}
#bardufossCity{
    top: 560px;
    left: 270px;
}
#reineCity{
    top: 610px;
    left: 40px;
}
#hattfjelldalCity{
    top: 236px;
    left: 764px;
}
#sorliCity{
    top: 206px;
    left: 150px;
}
#engerdalCity{
    top: 740px;
    left: 6px;
}
#lutnesCity{
    top: 170px;
    left: 220px;
}
#skotterudCity{
    top: 450px;
    left: 430px;
}
#maloyCity{
    top: 210px;
    left: 536px;
}
#hardbakkeCity{
    top: 154px;
    left: 224px;
}
#egersundCity{
    top: 202px;
    left: 544px;
}

/*
#osloCity{
    top: 626px;
    left: 367px;
}
#kirkenesCity{
    top: 75px;
    left: 745px;
}
#altaCity{
    top: 95px;
    left: 640px;
}
#hammerfestCity{
    top: 55px;
    left: 642px;
}
#tromsoCity{
    top: 113px;
    left: 565px;
}
#harstadCity{
    top: 160px;
    left: 510px;
}
#narvikCity{
    top: 190px;
    left: 520px;
}
#bodoCity{
    top: 240px;
    left: 476px;
}
#moIranaCity{
    top: 300px;
    left: 460px;
}
#namsosCity{
    top: 400px;
    left: 400px;
}
#trondheimCity{
    top: 450px;
    left: 380px;
}
#kristiansundCity{
    top: 450px;
    left: 340px;
}
#rorosCity{
    top: 482px;
    left: 396px;
}
#moldeCity{
    top: 470px;
    left: 294px;
}
#aalesundCity{
    top: 482px;
    left: 270px;
}
#stavangerCity{
    top: 670px;
    left: 230px;
}
#bergenCity{
    top: 594px;
    left: 232px;
}
#haugesundCity{
    top: 634px;
    left: 226px;
}
#kristiansandCity{
    top: 716px;
    left: 282px;
}
#tonsbergCity{
    top: 663px;
    left: 355px;
}
#arendalCity{
    top: 700px;
    left: 310px;
}
#mossCity{
    top: 658px;
    left: 366px;
}
#drammenCity{
    top: 640px;
    left: 356px;
}
#lillehammerCity{
    top: 570px;
    left: 360px;
}
#hamarCity{
    top: 590px;
    left: 380px;
}
#fredrikstadCity{
    top: 668px;
    left: 370px;
}
#bronnoysundCity{
    top: 344px;
    left: 420px;
}
#askoyCity{
    top: 585px;
    left: 225px;
}

#kautokeinoCity{
    top: 140px;
    left: 640px;
}
#karasjokCity{
    top: 100px;
    left: 680px;
}
#mehamnCity{
    top: 24px;
    left: 710px;
}
#bardufossCity{
    top: 160px;
    left: 570px;
}
#reineCity{
    top: 210px;
    left: 440px;
}
#hattfjelldalCity{
    top: 336px;
    left: 464px;
}
#sorliCity{
    top: 406px;
    left: 450px;
}
#engerdalCity{
    top: 540px;
    left: 406px;
}
#lutnesCity{
    top: 570px;
    left: 420px;
}
#skotterudCity{
    top: 620px;
    left: 410px;
}
#maloyCity{
    top: 510px;
    left: 236px;
}
#hardbakkeCity{
    top: 554px;
    left: 224px;
}
#egersundCity{
    top: 702px;
    left: 244px;
}
*/



























