body{
    margin: 0;
}

#intro{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background-color: lightgray;
}

#mapContainer{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    padding: 5%;
    background-color: gray;
}

#mapFilter{
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 800px;
    background-color: beige;
    float: left;
  
}

#mapNorway{
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    background-color: white;
}

#mapUtoya{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background-color: lightblue;
}